@use 'base/reset';
@use 'base/font';
@use 'base/mixin' as m;
@use 'page/index';
@use 'page/project';

$c-primary:#0088FF;

body{
  font-family:  "Quantico",'NexonLv1Gothic', sans-serif;
  background-image: url(../image/mainbg.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  overflow-x: hidden;
}
.inner{

    max-width: 1320px;
    height: 100%;
    margin: 0 auto;
}

#header{
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #151515;
  z-index: 1000;
  // border-bottom: 1px solid white;
  
  .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      font-size: 48px;
      transition: 0.3s;
    }
    .nav{
      display: flex;
      gap: 30px;
      font-size: 36px;
      position: relative;
      .nav-item{
        position: relative;
        transition: 0.3s;
        span{
          display: inline-block;
          transition: 0.3s;
        }
        &::before{
          content: '';
          position: absolute;
          color: $c-primary;
          left: 0;
          width: 100%;
          bottom: -15px;
          border-bottom: 4px solid $c-primary;
          transition: 0.3s;
          transform: scaleX(0);
          transform-origin: center;
        }
        &::after{
          content: '|';
          position: absolute;
          right: -20px;
          color: #aaa;
        }
        &:last-child::after{
          display: none;
        }
        &:hover,&.active{
          color: $c-primary;
          span{
            transform: translateY(-3px);
          }
          &::before{
            transform:scaleX(1);
          }
        }
      }
    }
  }
  @media (max-width:768px){
    height: 70px;
    .inner{
      padding: 0 20px;
      .logo{
        font-size: 36px;
      }
      .nav{
        font-size: 24px;
        gap: 20px;
        .nav-item{
          &::before{
            bottom: -7px;
          }
          &::after{
            right: -15px;
          }
        }
        
      }
    }
  }
  @media (max-width:480px) {
    width: 90%;
    height: auto;
    padding: 5px 10px;
    border-radius: 100px;
    margin-top: 20px;
    border: 1px solid $c-primary;
    left: 50%;
    transform: translateX(-50%);
    .inner{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      gap: 20px;
      .logo{
        display: none;
      }
      .nav{
        font-size: 24px;
        gap: 15px;
        justify-content: space-around;
        width: 100%;
        .nav-item{
          &::before{
            bottom: -3px;
          }
          &::after{
            display: none;
          }
        }
      }
    }
    
  }
}

