

main{
  padding-top: 130px;
  .inner{
    display: flex;
    // justify-content: space-between;
    section{
      width: 100%;
      .section-title{
        font-size: 48px;
      }
    }
    .profile{
      max-width: 470px;
      padding-top: 25px;
    }
    .skill{
      max-width: 850px;
      padding: 25px;
    }

  }
}