$c-primary:#0088FF;

main{
  padding-top: 120px;
  .inner{
    display: flex;
    // justify-content: space-between;
    section{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .section-title{
        font-size: 48px;
        line-height: 56px;
      }
    }
    .profile{
      max-width: 470px;
      .profilewrap{
        width: 100%;
        display: flex;
        gap: 20px;
        .profile-img{
          background-color: rgb(51, 51, 51);
          max-width: 220px;
          min-width: 120px;
          flex: 1 1 0;
          // max-width: 100%;
          width: 100%;
          object-fit: cover;
        }
        .profileinfo{
          flex: 0 0 230px;
          max-width: 230px;
          margin-top: auto;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          gap: 10px;
          .info-item{
            display: flex;
            align-items: center;
            img{
              width: 24px;
              height: 24px;
            }
            p{
              margin-left: 10px;
              font-size: 18px;
            }
          }
        }
      }
      .desc{
        display: flex;
        align-items: center;
        gap: 5px;
        img{
          width: 32px;
          height: 32px;
        }
        p{
          font-size: 22px;
        }
      }
      .desc-sub{
        color: #CCC;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
      }
      #profile-content{
        display: flex;
        flex-direction: column;
        .profile-content-item{
          font-size: 24px;
        }
        .profile-content-item-sub{
          margin-bottom: 20px;
          font-size: 16px;
          color: #CCC;
        }
      }
    }
    .skill{
      max-width: 850px;
      padding-left: 25px;
      #skill-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit,191px);
        gap: 20px;
        overflow-y: auto;
        max-height: 700px;
        padding-bottom: 50px;
        &::-webkit-scrollbar{
          display: none;
        }
        .skill-card{
          min-height: 252px;
          cursor: default;
          border: 2px solid #ffffff1a;
          background-color: #ffffff1a;
          backdrop-filter: blur(5px);
          box-shadow: 2px 2px 7px #777777b6;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          padding: 20px;
          .skill-{
            &image{
              width: 70px;height: 70px;
            }
            &name{
              font-weight: bold;
              font-size: 20px;
            }
            &sub{
              word-break:keep-all;
              font-size: 14px;
              line-height: 18px;
              color: #CCC;
            }
          }
        }
      }
    }
  }
  @media (max-width:768px){
    padding-top: 90px;
    .inner{
      flex-direction: column;
      padding: 0 20px;
      .profile{
        max-width: 940px;
        width: 100%;
        .profilewrap{
          .profile-img{
            // max-width: 400px;
          }
        }
      }
      .skill{
        padding: 0;
        #skill-grid{
          max-height: none;
          overflow-y: visible;
          grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        }
      }
    }
  }
  @media (max-width:480px) {
    padding-top: 120px;
    .inner{
      padding: 0 10px;
      section{
        .section-title{
          font-size: 36px;
          line-height: 44px;
        }
      }
      .profile{
        .profilewrap{
          gap: 10px;
          .profileinfo{
            .info-item{
              img{width: 18px;height: 18px;}
              p{margin-left: 5px; font-size: 14px;}
            }
          }
        }
        .desc{
          gap: 3px;
          img{width: 24px;height: 24px;}
          p{font-size: 18px;}
        }
        .desc-sub{
          font-size: 14px;line-height: 18px;
          margin-bottom: 10px;
        }
        #profile-content .profile-content-item{
          font-size: 20px;
          &-sub{
            font-size: 14px;
            margin-bottom: 10px;
          }
        }
      }
      .skill{
        #skill-grid{
          grid-template-columns: repeat(auto-fit,minmax(135px,1fr));
        }
      }
    }
  }
  @media (max-width:400px) {
    .inner{
      .profile .profilewrap{
        flex-direction: column;
        .profileinfo{
          flex: 0 0 0;
          gap: 5px;
          margin-top: none;
          .info-item{
            img{width: 24px;height: 24px;}
            p{font-size: 16px;}
          }
        }
      }
    }
    
  }
}

.btn-wrap{
  display: flex;
  gap: 10px;
  border-bottom: 2px solid $c-primary;
  .btn{
    background-color: gray;
    color: white;
    padding: 6px 14px;
    font-size: 22px;
    border-radius: 5px 5px 0 0;
    border: 2px solid gray;
    transition: 0.3s;
    &:hover{
      border: 2px solid $c-primary;
    }
    &.active{
      border-color: $c-primary;
      background-color: $c-primary;
    }
  }
  @media (max-width:400px) {
    gap: 5px;
    .btn{
      padding: 3px 7px;
      font-size: 18px;
    }
    
  }
}